.btn {
   border-radius: 5px !important;
}

iframe {
   width: 100% !important;
}

img {
   width: 100%;
   height: auto;
   object-fit: cover;
}

textarea {
   line-height: 2 !important;
}

.post-meta {
   font-size: 13px;
   letter-spacing: 0.07rem;
   text-transform: uppercase;
   font-weight: 600;
   color: rgba(0, 0, 0, 0.4);
   margin-bottom: 10px;
}

.content span,
.content a,
.content h1 {
   background: transparent !important;
}

.short-content {
   display: inline-block;
}

.short-content::first-letter {
   float: left;
   font-family: Georgia;
   font-size: 75px;
   line-height: 60px;
   padding-top: 4px;
   padding-right: 8px;
   padding-left: 3px;
}

.form-check-input {
   margin-left: 0 !important;
}